.navbar-custom {
  background-color: #35374b;
  font-size: larger;
  padding: 30px;
  --bs-navbar-nav-link-padding-x: 1.5rem;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  /* color: rgba(255, 255, 255, 0.8);  */
  font-size: xx-large;
  color: #15f5ba; /*yellowgreen */
}
/* change the link color 
.navbar-custom .navbar-nav .nav-link {
  color: red;
}*/
/* change the color of active or hovered links */
.navbar-custom .nav-link,
.navbar-custom .nav-item .nav-link {
  /* color: #ffffff;  */

  color: #98e4ff;
  /*rgb(159, 194, 89) */
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  filter: drop-shadow(4px 4px 10px rgba(11, 231, 213, 0.7));
  color: #96e9c6; /*rgb(170, 255, 0)*/
}

@media (max-width: 797px) {
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
    margin-right: 3rem;
  }
}

@media (max-width: 992px) {
  .navbar-custom {
    --bs-navbar-nav-link-padding-x: 0.5rem;
  }
}

@media (min-width: 576px) and (max-width: 769px) {
  .navbar-custom {
    --bs-navbar-nav-link-padding-x: 0.4rem;
  }

  .navbar .collapse {
    margin-left: 13rem;
  }
}
